<div class="container-fluid text-center identity-form">
	<div class="row align-items-center h-100">
		<div class="col">
			<form class="form-identity"
				  [formGroup]="ForgotPasswordForm"
				  (ngSubmit)="ProcessForgotPassword()">
				<a class="btn btn-link"
				   routerLink="/"
				   aria-label="Click to go to the home page">
					<img class="mb-4 main-logo"
						 src="/assets/images/logos/main-logo-for-accounts.jpg"
						 alt="Logo with two polaroids"
						 width="250"
						 height="83">
				</a>
				<h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
				<div *ngIf="FormError != ''"
					 class="alert alert-danger">
					<span>{{FormError}}</span>
				</div>
				<div *ngIf="FormMessage != ''"
					 class="alert alert-info">
					<span>{{FormMessage}}</span>
				</div>
				<label for="forgotPasswordEmail"
					   class="visually-hidden">Email address</label>
				<input type="email"
					   class="form-control"
					   name="forgotPasswordEmail"
					   id="forgotPasswordEmail"
					   autocomplete="off"
					   aria-describedby="emailHelp"
					   placeholder="Email address"
					   formControlName="forgotPasswordEmail"
					   required>
				<div *ngIf="ForgotPasswordEmail?.invalid && (ForgotPasswordEmail?.dirty && ForgotPasswordEmail?.touched)"
					 class="alert alert-danger">
					<div *ngIf="ForgotPasswordEmail.errors.required">
						Email is required.
					</div>
					<div *ngIf="ForgotPasswordEmail.errors.minLength">
						Email must be at least 3 characters.
					</div>
				</div>
				<br />
				<button class="btn btn-lg btn-primary w-100"
						type="submit"
						[disabled]="!ForgotPasswordForm.valid">
					Send reset link
				</button>
				<hr />
				<div>
					<a class="btn btn-link"
					   routerLink="/identity/signup">Don't have an account? Sign up</a>
				</div>
				<p class="mt-3 mb-3">&copy; {{ CurrentYear }}</p>
			</form>
		</div>
	</div>
</div>